[Unit]
Description=Timer for weekly Omarchy and System update

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
