[Unit]
Description=Switch Omarchy Theme (Light/Dark)
After=network.target

[Service]
Type=oneshot
ExecStart=/home/arch/.config/hypr/omarchy-theme-auto-switch

[Install]
WantedBy=default.target
